@model SFTPUpload.ViewModels.UploadFileViewModel;

@{
    ViewData["Title"] = "Upload File";
}

<div class="container mt-5">
    @if (@ViewBag.Status is not null)
    {
        <div class="alert @(ViewBag.Status ? "alert-success" : "alert-danger")" role="alert">
            @ViewData["Message"]
        </div>
    }
    
    <h1 class="text-center mb-4">Upload File</h1>

    <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
        <div class="mb-3">
            <label asp-for="File" class="form-label">Upload File:</label>
            <input asp-for="File" class="form-control" required/>
        </div>

        <div class="text-center">
            <button class="btn btn-primary px-4" type="submit">Upload</button>
        </div>
    </form>
</div>